@media (max-width: 768px) {
    .Wrapper {
        width: 100%;

        p:last-child {
            margin-bottom: 5px;
        }
    }


}

@media (min-width:768px) {
    .Wrapper {

        width: 40vw;

        img {
            position: relative;
            max-height: 20vh;
            border-radius: 15px;

        }

    }

}